<!DOCTYPE html>
<html>
<head>
    <title>Paragraph Analysis 2.1</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="topsection">
        <h1>Paragraph Analysis 2.1</h1>
        <form method="POST">
            <textarea name="text" rows="10" cols="50"></textarea><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <br><br>
    <div class="paragraph-container">
        {% for paragraph in paragraphs %}
            <div class="paragraph">
                {% for sentence in paragraph %}
                    <div class="sentence">
                        <span>{{ sentence }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="divider"></div> 
        {% endfor %}
    </div>
    <div class="popup-window">
        <div class="popup-content"></div>
    </div>
    <script>
        function makeDraggable(element)
        {
            let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            const edgeSize = 340; // The size of the edge in pixels
            element.onmousedown = dragMouseDown;

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // set the element's new position:
                if ((pos3 < edgeSize || pos3 > window.innerWidth - edgeSize) || (pos4 < edgeSize || pos4 > window.innerHeight - edgeSize)) {
                    element.style.top = (element.offsetTop - pos2) + "px";
                    element.style.left = (element.offsetLeft - pos1) + "px";
                }
            }

            function closeDragElement() {
                // stop moving when mouse button is released:
                document.onmouseup = null;
                document.onmousemove = null;
            }
        }

        const sentences = document.querySelectorAll('.sentence');
        const popupWindow = document.querySelector('.popup-window');
        const popupContent = document.querySelector('.popup-content');
        const paragraph_container = document.querySelector('.paragraph-container');
        const topsection = document.querySelector('.topsection');
        // makeDraggable(popupContent);

        sentences.forEach((sentence) => {
            sentence.addEventListener('click', async(event) => {
                const inputText = sentence.textContent;
                const response = await fetch('/process', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ original_text: inputText })
                });
                const data = await response.json();
                const titles = data.output_title;
                const outputText = data.output_text;
                
                if (titles.length === 0) {
                    // No result, apply centering CSS class
                    popupContent.classList.add('no-result');
                    } 
                else {
                    // Result found, remove centering CSS class
                    popupContent.classList.remove('no-result');
                    }
                // Check if the titles array is empty
                if (titles.length === 0) {
                    const container = document.createElement('div');
                    container.classList.add('card-container');
                    container.innerHTML = '<div class="card"><p>No result</p></div>';
                    popupContent.innerHTML = '';
                    popupContent.appendChild(container);
                } else {
                    // Create an array of card HTML elements
                    const cards = titles.map((title, index) => `
                        <div class="card">
                            <h3>${title}</h3>
                            <p>${outputText[index]}</p>
                        </div>`
                    );
                    
                    const container = document.createElement('div');
                    container.classList.add('card-container');
                    container.innerHTML = cards.join('');
                    popupContent.innerHTML = '';
                    popupContent.appendChild(container);
                }
                
                popupWindow.style.display = 'block';
                event.stopPropagation();
                paragraph_container.classList.add('fade-out');
                topsection.classList.add('fade-out');
            });
        });

    
        popupWindow.addEventListener('click', (event) => {
            event.stopPropagation();
        });
    
        document.addEventListener('click', () => {
            popupWindow.style.display = 'none';
            paragraph_container.classList.remove('fade-out');
            topsection.classList.remove('fade-out');
        });
    </script>
</body>
</html>
